---
title: ""
permalink: /research/
author_profile: true
---
<!-- SEE https://getbootstrap.com/docs/4.4/components/buttons/ FOR INTERESTING WIDGETS! -->

<!-- {% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->


<h2>Publication</h2> 
Daojian Zeng, Tingjiao Huang, <b>Zhiheng Zhang</b>b, Lincheng Jiang. (2024).
<text class="pub-title">Entity neighborhood awareness and hierarchical message aggregation for inductive relation prediction</text>. Information Processing & Management.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://www.sciencedirect.com/science/article/abs/pii/S0306457324000979','_blank')">Paper</button>
<br>
<br>

<b>Zhiheng Zhang</b>, Daojian Zeng, Xue Bai. (2024). 
<text class="pub-title">Improving Continual Few-shot Relation Extraction through Relational Knowledge Distillation and Prototype Augmentation</text>. LREC-COLING 2024.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://aclanthology.org/2024.lrec-main.767','_blank')">Paper</button>
<br>
<br>

