---
title: ""
permalink: /research/
author_profile: true
---
<!-- SEE https://getbootstrap.com/docs/4.4/components/buttons/ FOR INTERESTING WIDGETS! -->

<!-- {% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<h2>Publication</h2> 
<b>Zhiheng Zhang</b>, Yuanzhe Zhang, Bohan Yu, Daojian Zeng, Kang Liu, Jun Zhao. (CCF-A). 
<text class="pub-title">Hetero-Designer: Automated Design of Multi-Agent Systems with Heterogeneous LLMs</text>. ACL, 2026.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://openreview.net/forum?id=D3QhXzh1nj#discussion','_blank')">Paper</button>
<br>
<br>

<h2>Publication</h2> 
Songping Peng, <b>Zhiheng Zhang</b>, Daojian Zeng, Lincheng Jiang, Xieping Gao. 
<text class="pub-title">Preventing Safety Drift in Large Language Models via Coupled Weight and Activation Constraints</text>. Findings of ACL, 2026.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://arxiv.org/abs/2604.12384','_blank')">Paper</button>
<br>
<br>

<b>Zhiheng Zhang</b>, Yuanzhe Zhang, Daojian Zeng, Kang Liu, Jun Zhao. (CCF-B). 
<text class="pub-title">Beware of the Woozle Effect: Exploring and Mitigating Hallucination Propagation in Multi-Agent Debate</text>. IEEE Transactions on Audio, Speech and Language Processing, 2026.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://aclanthology.org/2024.lrec-main.767','_blank')">Paper</button>
<br>
<br>

Daojian Zeng, Lin Zhou, <b>Zhiheng Zhang</b>, Lincheng Jiang. (CCF-B)
<text class="pub-title">AuToGen: Automated Tool Learning Data Generation with Domain-specific Structured Data</text>. Data Intelligence 2025.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://www.sciengine.com/DI/doi/10.3724/2096-7004.di.2024.0005;JSESSIONID=25c729e9-f140-42e4-8390-1934a20bcf80','_blank')">Paper</button>
<br>
<br>

<b>Zhiheng Zhang</b>, Daojian Zeng, Xue Bai. 
<text class="pub-title">Improving Continual Few-shot Relation Extraction through Relational Knowledge Distillation and Prototype Augmentation</text>. LREC-COLING 2024.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://aclanthology.org/2024.lrec-main.767','_blank')">Paper</button>
<br>
<br>

Daojian Zeng, Tingjiao Huang, <b>Zhiheng Zhang</b>, Lincheng Jiang. (CCF-B)
<text class="pub-title">Entity neighborhood awareness and hierarchical message aggregation for inductive relation prediction</text>. Information Processing & Management 2024.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://www.sciencedirect.com/science/article/abs/pii/S0306457324000979','_blank')">Paper</button>
<br>
<br>




