---
title: ""
permalink: /research/
author_profile: true
---
<!-- SEE https://getbootstrap.com/docs/4.4/components/buttons/ FOR INTERESTING WIDGETS! -->

<!-- {% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<h2>Publication</h2> 

<b>Zhiheng Zhang</b>, Daojian Zeng, Xue Bai. (2024). 
<text class="pub-title">Improving Continual Few-shot Relation Extraction through Relational Knowledge Distillation and Prototype Augmentation</text>. LREC-COLING 2024.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://aclanthology.org/2024.lrec-main.767','_blank')">Paper</button>
<br>
<br>

Daojian Zeng, Tingjiao Huang, <b>Zhiheng Zhang</b>, Lincheng Jiang. (2024).
<text class="pub-title">Entity neighborhood awareness and hierarchical message aggregation for inductive relation prediction</text>. Information Processing & Management.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://www.sciencedirect.com/science/article/abs/pii/S0306457324000979','_blank')">Paper</button>
<br>
<br>

Daojian Zeng, Lin Zhou, <b>Zhiheng Zhang</b>, Lincheng Jiang. (2024)
<text class="pub-title">AuToGen: Automated Tool Learning Data Generation with Domain-specific Structured Data</text>. Data Intelligence.
<br>
<button type="button" class="btn btn-primary btn-sm" onclick=" window.open('https://www.sciengine.com/DI/doi/10.3724/2096-7004.di.2024.0005;JSESSIONID=25c729e9-f140-42e4-8390-1934a20bcf80','_blank')">Paper</button>
<br>
<br>


